# Python
__pycache__/
*.pyc

# PyTorch model files
*.pt
*.pth
*.ckpt

# Logs
logs/
runs/

# Datasets (如果你以后放本地数据)
data/
datasets/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
